body{
    margin: 0;
}
nav{
    background-color: blue;
    padding: 25px;
    font-size: 30px;
}

a:link{
    color: greenyellow;
    margin-right: 50px;
    text-decoration: none;
}
a:hover{
    color: black;
}

img{
   height: 400px; 
}

div{
    margin: 100px;
    border: 7px solid blue;
    border-radius: 5px;
    text-align: center;
}

footer{
    background-color: rgba(45, 131, 230, 0.574);
    padding: 15px;
    font-size: 30px;
}
